/* HeroIcon.module.css */
.card {
  width: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.image {
  width: 48px;
  height: 48px;
  border-radius: 8px;
}

.name {
  font-size: 0.75rem;
  text-align: center;
  margin-top: 0.25rem;
}
